<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="https://berniesanders.com/about/">Meet Bernie</a>
      </div>
      <div class="col-md-3">
        <a href="https://berniesanders.com/issues/">Bernie on the issues</a>
      </div>
      <div class="col-md-3">
        <a href="https://vote.berniesanders.com/">How to vote for Bernie</a>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/BernieSanders">Bernie on Twitter</a>
      </div>
    </div>
    <div class="row footer-message">
      <div class="col-md-12">
        <h3 class="cursive notofficial">This website was made by a supporter of Sen. Bernie Sanders, <a class="cursive" href="http://www.joe-kent.com">Joe Kent</a>, and has no official affiliation with the campaign.</h3>
        <p>All of the financial data featured on this website is from the <a href="https://berniesanders.com/issues/how-bernie-pays-for-his-proposals/">official campaign website</a>.</p>
      </div>
    </div>
  </div>
</div>
