<div class="container-fluid join">
  <div class="container">
    {{#if message}}
      <h1>{{message}}</h1>
    {{else}}
      <h1>Feel the Bern?</h1>
    {{/if}}
    <a class="btn btn-default" href="https://berniesanders.com">JOIN THE MOVEMENT</a>
  </div>
</div>
