<div class="container-fluid join">
  <div class="container">
    {{#if message}}
      <h1>{{message}}</h1>
    {{else}}
      <h1>Feel the Bern?</h1>
    {{/if}}
    <a class="btn red-btn cursive" href="https://go.berniesanders.com/page/signup/volunteer-for-bernie">JOIN THE MOVEMENT</a>
  </div>
</div>
