<header class="container-fluid">
  <div class="container">
    <h1 class="cursive">Bernie Economics</h1>
  </div>
</header>

{{> spacer}}

{{> quote quote="The taxpayers of this country bailed out the illegal behavior of Wall St. It is time for Wall St. to bail out the middle class."}}

{{> spacer}}

<div class="container-fluid economics">
  {{#each topTwo}}
    {{> plan this}}
  {{/each}}
</div>

{{> join}}

{{> spacer}}

<div class="container-fluid economics">
  {{#each rest}}
    {{> plan this}}
  {{/each}}
</div>

{{> join message="Bernie doesn't take special interest money, he can accomplish all of this and more."}}

{{> footer}}
