* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, a {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: #F55B5B !important;
}

.cursive {
  font-family: 'Shadows Into Light', cursive;
}

.container-fluid {
  padding: 0 !important;
}

header {
  text-align: center;
  background-image: url('header.png');
  background-size: cover;
  background-position-y: 50%;
  min-height: 250px;
}

header .container {
  padding: 30px 15px;
}

.title {
  font-size: 72px;
  transform: rotate(-3deg);
  color: #FFF;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}

.spacer {
  height: 8px;
  background-color: #97c5ed;
}

.sanders-quote {
  padding: 32px 25% !important;
}

.sanders-quote h3 {
  border-left: 1px solid #111;
  padding-left: 4px;
}

.citation {
  font-size: 16px;
  font-weight: 100;
}

.plan-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 460px;
  margin: 0 auto;
  text-align: center;
}

.plan-details {
  width: 100%;
  max-width: 600px;
  display: block;
  margin-top: -128px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0076d7;
  text-align: center;
  padding: 8px;
  color: #FFF;
  border-radius: 2px;
}

.plan-funding {
  margin-top: 32px;
  text-align: left;
  font-size: 20px;
}

.plan-funding p {
  margin-bottom: 4px;
}

.plan-funding span {
  color: #F55B5B;
}

.plan-funding h3 {
  margin-top: 12px;
  margin-bottom: 8px;
}

.plan-funding hr {
  width: 95%;
  margin: 4px auto;
}

.plan-more_info {
  display: block;
  text-align: left;
  margin-top: 32px;
  text-decoration: underline;
  color: #FFF;
}

.join {
  text-align: center;
  background-color: #0076d7;
  padding: 32px !important;
}

.join h1 {
  color: #FFF;
  font-size: 42px;
  margin-top: 0;
}

.join .btn {
  color: #FFF;
  background-color: #F55B5B;
  border: none;
  padding: 12px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 4px;
}

.footer {
  text-align: center;
  background-color: #0076d7;
  color: #FFF;
  padding-top: 32px !important;
}

.footer a {
  color: #FFF;
  font-size: 16px;
}

.footer .footer-message {
  padding-top: 32px;
}

.footer-message h3 a {
  font-size: 24px;
}

.footer-message p a {
  font-size: 14px;
  text-decoration: underline;
}
